/** @format */

// Font base
$font-size-root: 16px;
$font-size-base: 1rem;
// $font-family-base: Gilroy;
$font-family-base: "Roboto", sans-serif;

// Colors

$primary: #444bff;
$danger: #f84a67;
$dark: #000000;
$warning: #ffab2d;
$success: #16d86f;
$dark-50: #757575;
$dark-75: #1b1b1b;
$light: #eeeeee;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "dark": $dark,
  "dark-50": $dark-50,
  "dark-75": $dark-75,
  "warning": $warning,
  "success": $success,
  "light": $light,
);

// $link-color: gold;
$link-decoration: none;
$text-muted: #f0f0f0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// Fonts
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;
$small-font-size: 0.875em;
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;
$line-height-base: 1.5;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

// Forms
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 1.25rem;
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $font-size-base;
$input-btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-border-shade-amount: 0;
$btn-active-border-tint-amount: 0;
$btn-hover-bg-shade-amount: 10%;
$btn-hover-bg-tint-amount: 0;
$btn-hover-border-shade-amount: 10%;
$btn-hover-border-tint-amount: 0;
// $btn-disabled-opacity: 0.95;
// $input-btn-line-height:       $line-height-base;

@each $key, $val in $theme-colors {
  .bg-#{$key}-light {
    background-color: transparentize($color: $val, $amount: 0.6);
  }
}

@each $key, $val in $theme-colors {
  .bg-#{$key}-lighter {
    background-color: transparentize($color: $val, $amount: 0.8);
  }
}
